Singleton/.vs/
Singleton/obj/
Singleton/bin/
Factory/.vs/
Factory/bin/
Factory/obj/
Abstract Factory/.vs/
Abstract Factory/bin/
Abstract Factory/obj/
Builder pattern/.vs/
Builder pattern/bin/
Builder pattern/obj/
Prototype pattern/.vs/
Prototype pattern/obj/
Prototype pattern/bin/
Strategy pattern/.vs/
Strategy pattern/bin/
Strategy pattern/obj/
